h3 {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}
ul {
  margin-left: 30px;
}

@media only screen and (min-width: 481px) /*and (max-width: 768px) */ {
  .page2 {
    padding-bottom: 0;
  }
  .page2 .content {
    width: calc(100% - 240px);
    padding: 0 120px;
    padding-bottom: 0;
  }
  .page2 .content p {
    font-size: 20px;
    line-height: 30px;
  }
  .page5 .content {
    width: calc(100% - 240px);
    padding: 0 120px;
    grid-template-columns: 50% 50%;
  }
  .page5 .content .item {
    padding: 30px;
    font-size: 20px;
  }
  .page5 h2 {
    position: relative;
    left: 120px;
    transform: none;
  }
}
