.activities {
  --wave-length: 290px;
  height: auto;
  margin: 0 100px;
  min-height: 100vh;
  width: calc(100% - 200px);
}

.activities .content {
  height: auto;
  position: relative;
  width: 100%;
}

.activities h2.title {
  font-family: Audiowide, cursive;
  font-size: 30px;
  font-weight: 400;
  height: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.activities .content .line-container {
  position: absolute;
  text-align: center;
  width: 100%;
}

.activities .content svg {
  overflow: visible;
}

.activities .content .activity span {
  display: block;
}

.activities .content .activities-container {
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  width: 100%;
}

.activities .content .activities-container .left {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.activities .content .activities-container .left .activity span {
  text-align: right;
}

.activities .content .activities-container .activity-none {
  height: var(--wave-length);
}

.activities .content .activity {
  display: flex;
  flex-direction: column;
  height: var(--wave-length);
  justify-content: center;
  /* opacity: 0; */
  position: relative;
  transition: all 0.5s ease;
  width: 35vw;
}

.activities .content .activity span.date {
  color: #e1a002;
  font-family: Audiowide;
  font-size: 17px;
  margin-bottom: 10px;
}

.activities .content .activity span.title {
  color: #fff;
  font-family: Audiowide;
  font-size: 18px;
  margin-bottom: 10px;
}

.activities .content .activities-container .left .activity span.description {
  text-align: justify !important;
  text-align-last: right;
}

.activities .content .activity span.description {
  color: #ffffff90;
  font-family: Syne Mono;
  font-size: 15px;
  text-align: justify;
}

.activities .content .line-container .circle1,
.activities .content .line-container .circle2,
.activities .content .line-container .circle3,
.activities .content .line-container .circle4 {
  opacity: 0;
  transition: all 0.5s ease;
}

.activities .content .activities-container.mobile,
.activities .content svg.mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .activities .content svg.mobile {
    display: block;
  }

  .activities .content svg.desktop {
    display: none;
  }

  .activities .content .activities-container.mobile {
    display: block;
  }

  .activities .content .activities-container.desktop {
    display: none;
  }

  .activities {
    margin: 0 5px;
    width: calc(100% - 10px);
  }

  .activities h2.title {
    font-size: 25px;
    height: 40px;
  }

  .activities .content .line-container svg {
    width: 100%;
  }

  .activities .content .activities-container {
    grid-template-columns: auto;
  }

  .activities .content .activity {
    height: 70vw;
    opacity: 0;
    overflow: hidden;
    width: calc(100% - 60px);
  }

  .activities .content .activities-container span.date {
    font-size: 13px;
  }

  .activities .content .activities-container span.title {
    font-size: 14px;
  }

  .activities .content .activities-container span.description {
    font-size: 12px;
    text-align-last: auto;
  }

  .activities .activities-container .activity-none {
    display: none;
  }

  .activities .activities-container .activity.activity3 span,
  .activities .content .activities-container .activity.activity1 span {
    text-align: left !important;
  }

  .activities .activities-container .activity.activity2 span,
  .activities .activities-container .activity.activity4 span {
    text-align: right !important;
  }

  .activities .activities-container .activity.activity1,
  .activities .activities-container .activity.activity3 {
    margin-left: 60px;
  }

  .activities .activities-container .activity.activity2,
  .activities .activities-container .activity.activity4 {
    margin-right: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .activities {
    margin: 0 50px;
    width: calc(100% - 100px);
  }

  .activities .content .activity {
    width: 300px;
  }
}
