.projects {
    height: auto;
    margin: 0 200px;
    min-height: 100vh;
    width: calc(100% - 400px)
}

.projects h2.title {
    font-family: Audiowide,cursive;
    font-size: 30px;
    font-weight: 400;
    height: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

@media only screen and (max-width: 767px) {
    .projects {
        margin:0 5px;
        width: calc(100% - 10px)
    }

    .projects h2.title {
        font-size: 25px;
        height: 40px
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .projects {
        margin:0 50px;
        width: calc(100% - 100px)
    }
}

.project-view {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-left: 0;
    overflow-y: hidden;
    width: 100%
}

.project-view .side {
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 70px
}

.project-view .content {
    height: 100%;
    margin-left: 30px;
    min-height: 100%;
    position: relative;
    width: calc(100% - 100px)
}

.project-view .side .icon {
    align-items: center;
    background: #224844;
    border-radius: 50%;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 70px;
    z-index: 1
}

.project-view .side .icon i {
    font-size: 40px
}

.project-view .side .grid {
    grid-row-gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    justify-content: center;
    row-gap: 20px;
    top: 50px;
    width: 100%;
    z-index: 0
}

.project-view .side .grid div {
    background: #224844;
    border-radius: 10px;
    height: 30px;
    width: 10px
}

.project-view h2.head {
    font-family: Saira Stencil One,cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px
}

.project-view p {
    font-size: 20px;
    line-height: 30px
}

.project-view a {
    color: #2884d8;
    font-family: Abel;
    font-size: 20px;
    font-weight: 800;
    margin-right: 50px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    text-decoration: none
}

.project-view a:before {
    background: linear-gradient(45deg,transparent,#224844);
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
    width: 30px;
    z-index: -1
}

.project-view a:hover {
    color: #90ee90
}

@media only screen and (max-width: 767px) {
    .project-view .side {
        width:50px
    }

    .project-view .side .grid div {
        height: 20px;
        width: 5px
    }

    .project-view .side .icon {
        height: 50px;
        width: 50px
    }

    .project-view .side .icon i {
        font-size: 30px
    }

    .project-view h2.head {
        font-size: 25px
    }

    .project-view p {
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 15px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .project-view .content {
        margin-left: 20px;
        width: calc(100% - 60px)
    }
}
