* {
  margin: 0;
  padding: 0;
  color: #fff;
  /* outline: 2px solid green; */
  font-family: "Kalam", cursive;
}
body {
  background: black;
  width: 100vw;
  overflow-x: hidden;
}
.page {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
/* TOPBAR STYLE */
.topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 20px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  background: black;
  padding: 10px;
  z-index: 10;
  transition: all 0.5s ease;
}
.topbar .left {
  display: flex;
  width: 30px;
  height: 30px;
  /* outline: 1px solid green; */
  justify-content: center;
  align-items: center;
}
.topbar .left i {
  color: #e1a002;
  font-size: 30px;
}
.topbar .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .right .community-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
}
.topbar .right .community-icons a {
  text-decoration: none;
}
.topbar .right .community-icons a i {
  color: #e1a002;
  font-size: 20px;
  transform: translateY(1px);
}
.topbar.scrolled {
  background: #e1a002;
  height: 30px;
}
.topbar.topbar.scrolled div i,
.topbar.topbar.scrolled div a i {
  color: black;
}
/* PAGE 1 */

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.page1 .content {
  margin-top: 50px;
  height: calc(100vh - 110px);
  position: relative;
}
.page1 .content img.maveli {
  display: flex;
  height: 500px;
  position: absolute;
  right: -150px;
  /* bottom: 0px; */
  z-index: -1; /* width: 100%; */
}
.page1 img.nature {
  z-index: -2;
  position: absolute;
  left: -50px;
  height: 600px;
  min-width: 100vw;
  bottom: -70px;
  display: none;
}
.page1 .content .buttons {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* bottom: 180px; */
  top: 50%;
  left: -20px;
  padding: 40px 30px 40px 10px;
  /* background-image: url("Rectangle 1.svg"); */
  background-size: cover;
  background-position: right top;
}
.page1 .buttons.desktop {
  display: none;
}
.page1 .content .buttons a {
  text-decoration: none;
  display: flex;
  /* padding: 10px; */
  /* background: #00ffff; */
  margin: 10px;
  /* color: #222; */
  font-weight: 400;
  font-family: "Audiowide", cursive;
  border-radius: 30px;
}
.topbar.desktop {
  display: none;
}

/* HEAD */
.page .content .headline {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.page .content .headline .intro {
  margin: 10px;
}
.page .content .headline .intro1 {
  font-size: 25px;
  color: rgb(89, 184, 184);
  font-family: "Audiowide", cursive;
}
.page .content .headline .intro2 {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  /* display: block; */
}
.page1 .content .headline h2 {
  color: #e1a002;
  font-family: "Bungee Shade", cursive;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  font-weight: 400;
}
.page1 .content .headline span.caption {
  display: block;
  margin-top: 20px;
  color: #ffffff99;
  text-align: center;
}
/* PAGE 2 */
.page2 {
  width: calc(100% - 50px);
  height: 100%;
  display: flex;
  padding: 25px;
  margin-bottom: 20px;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}
.page2 .content h2 {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  margin-bottom: 30px;
}
.page2 .content p {
  color: #d6d6d6;
  display: -webkit-box;
  /* -webkit-line-clamp: 14; */
  -webkit-box-orient: vertical;
  margin-top: 20px;
  overflow: hidden;
}
.page2 img.onam {
  width: calc(100vw + 20px);
  height: 50vw;
  object-fit: cover;
  object-position: top;
  left: -40px;
  position: relative;
  display: none;
}
/* Page 3 */
.page3 {
  padding: 20px;
  width: calc(100% - 40px);
  height: auto;
}
.page3 .container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}
.page3 .container .item {
  position: relative;
  width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  box-shadow: 0px 1px 10px #ffffff50;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}
.page3 .container .item .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.page3 .container .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.page3 .container .item .image::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #1212129c;
}
.page3 .container .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.page3 .container .content .title {
  font-family: Audiowide;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.page3 .container .content p {
  color: #d6d6d6;
  display: /*-webkit-box*/ none;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 20px;
  overflow: hidden;
}
/* PAge 4 */
.page4 {
  width: calc(100% - 40px);
  padding: 20px;
}
/* page5, contact */
.page5 {
  width: calc(100% - 40px);
  padding: 20px;
}
.page5 h2 {
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.page5 .content {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.page5 .content .item {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5;
  box-shadow: 0 0 5px #ffffff20;
}
/* Sidemenu */
.sidemenu {
  width: calc(100% - 0px);
  height: calc(100vh - 0px);
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 11;
  left: -100%;
  /* background: #22222290; */
  transition: all 0.5s ease;
}
.sidemenu .display {
  position: relative;
  width: calc(70% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  background: #313131;
  position: relative;
}
.sidemenu .display .header {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  height: 25vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: column;
  z-index: 0;
}
.sidemenu .display .header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}
.sidemenu .display .header i {
  font-size: 35px;
  display: block;
  margin: 10px;
}
.sidemenu .display .header h2 {
  text-align: center;
  color: aqua;
}
.sidemenu .display .content {
  margin-top: 25vh;
}
.sidemenu .display .content a {
  display: block;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: left;
}
.sidemenu .display .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: Monospace;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 20px; */
  width: 100%;
  height: 40vh;
  margin-top: 30px;
  background: #12121290;
}
.footer .left {
  /* width: calc(50% - 20px); */
  height: 100%;
  /* margin-right: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .left a {
  display: block;
  width: calc(100% - 10px);
  max-width: 200px;
  border-bottom: 1px solid #ffffff30;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #e1a002;
}
.footer .right {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .right img {
  position: absolute;
  right: 0;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  max-width: 350px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.footer .right::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #12121213;
}
.footer .hidden {
  display: none;
}
/* Additional */

.underline {
  position: relative;
  width: fit-content;
}
.underline::after {
  content: "";
  display: block;
  width: calc(100% + 15px);
  height: 2px;
  position: absolute;
  bottom: -7px;
  background: #e1a002;
}

.title-style {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  margin-bottom: 30px;
}

/* From my portfolio */

/* DEFAULT MOBILE */

@media only screen and (min-width: 481px) /*and (max-width: 768px) */ {
  /* TABLETS */
  .topbar.mobile {
    display: none;
  }
  .topbar.desktop.scrolled {
    /* background-color: red !important; */
    height: 30px;
    background: #e1a002;
  }
  .topbar.desktop {
    position: fixed;
    top: 0;
    padding: 20px 60px;
    width: calc(100vw - 120px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
  }
  .topbar.desktop .links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
  }
  .topbar.desktop .links a {
    text-decoration: none;
    color: #e1a002;
    font-family: "Courier New", Courier, monospace;
  }
  .topbar.desktop .community-icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
  }
  .topbar.desktop .community-icons i {
    font-size: 20px;
    color: #e1a002;
  }

  .topbar.desktop.scrolled div a {
    color: #121212;
  }
  .page1 .content {
    position: relative;
    width: calc(100% - 120px);
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
  }
  .page1 .content .headline {
    /* position: absolute; */
    width: 50%;
    height: 100%;
    /* display: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  }
  .page1 .content .headline .intro1,
  .page1 .content .headline .intro2 {
    font-size: 40px;
  }
  .page1 .content .headline h2 {
    font-size: 70px;
    line-height: 100px;
  }
  .page1 .content img.maveli {
    position: unset;
    right: 0;
    /* right: 120px !important;
    top: 50%;
    transform: translateY(-50%); */
  }
  .page1 .buttons.mobile {
    display: none;
  }
  .page .content .buttons.desktop {
    position: absolute;
    display: block;
    left: 120px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
  }
  .page .content .buttons.desktop i {
    margin-right: 10px;
    font-size: 20px;
    transform: translateY(-25%);
  }
  .sidemenu {
    display: none;
  }
  .page2 {
    width: calc(100% - 200px);
    padding: 100px;
  }
  .page2 .content {
    font-size: 20px;
  }
  .page3 {
    padding-top: 0;
    width: calc(100% - 200px);
    padding: 100px;
  }
  .page3 .container {
    /* padding: 0 60px;
    width: calc(100% - 120px); */
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .page4 {
    padding-top: 0;
  }
  .page5 {
    margin: 0;
    width: calc(100% - 200px);
    padding: 0 100px;
  }
  .page5 h2 {
    position: relative;
  }
  .page5 .content {
    grid-template-columns: auto auto auto auto;
    padding: 0;
  }
  .footer {
    grid-template-columns: 30% 30% 40%;
  }
  .footer .hidden {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .hidden h2 {
    color: aqua;
    font-size: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) /* and (max-width: 1200px) */ {
  /* DESKTOP */
  .topbar.mobile {
    display: none;
  }
  .topbar.desktop {
    display: flex;
  }
}
@media only screen and (min-width: 1201px) {
  /* TV */
  .topbar.mobile {
    display: none;
  }
}
